trigger:
  branches:
    include:
      - main

pool:
  name: selfhosted

variables:
  azureSubscription: 'ARM Service Connect'
  appName: 'restaurant'

steps:
- checkout: self

# Install Node (optional but recommended)
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

# Install dependencies
- script: |
    npm install
  displayName: 'Install Dependencies'

# Archive files into zip
- task: ArchiveFiles@2
  displayName: 'Archive files'
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/app.zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: "$(Build.ArtifactStagingDirectory)/artifact_web"
    ArtifactName: "web-build"
    publishLocation: "Container"
  displayName: "Publish Web Build Artifact"

    
    
# # Deploy to Azure App Service (Linux)
# - task: AzureWebApp@1
#   displayName: 'Deploy to Azure App Service'
#   inputs:
#     azureSubscription: '$(azureSubscription)'
#     appType: 'webAppLinux'
#     appName: '$(appName)'
#     package: '$(Build.ArtifactStagingDirectory)/app.zip'
