trigger:
  branches:
    include:
      - main

pool:
  name: selfhosted
  
variables:
  nodeVersion: '18.x'

steps:
- checkout: self

# Install Node
- task: NodeTool@0
  inputs:
    versionSpec: '$(nodeVersion)'
  displayName: 'Install Node.js'

# Install dependencies
- script: npm install
  displayName: 'Install dependencies'

# Security scan
- script: npm audit --audit-level=high
  displayName: 'Run npm audit'

# Archive entire project
- task: ArchiveFiles@2
  displayName: 'Archive project'
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/app.zip'
    replaceExistingArchive: true

# Publish artifact
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/app.zip'
    ArtifactName: 'web-build'
    publishLocation: 'Container'
  displayName: 'Publish Artifact'
